// Sizes

$minMaxWidth: 850px;

$minWidth: 375px;
$maxWidth: 1440px;

// Colors

$clr-primary-100: hsl(0, 78%, 62%);
$clr-primary-200: hsl(180, 62%, 55%);
$clr-primary-300: hsl(34, 97%, 64%);
$clr-primary-400: hsl(212, 86%, 64%);

$clr-neutral-100: hsl(234, 12%, 34%);
$clr-neutral-200: hsl(229, 6%, 66%);
$clr-neutral-300: hsl(0, 0%, 98%);
$clr-neutral-400: rgba(203, 202, 202, 0.752);

// Font Size
$fs-100: 0.9375rem;

// Font Family
$ff-100: "Poppins", sans-serif;;

// Font Weights
$fw-100: 200;
$fw-200: 400;
$fw-300: 600;

$timeDelay: 1.5s;
$timeAnim: 3s;

// $clr-neutral-200: hsla(180, 62%, 55%, 0.207);
